html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.Page {
  width: 210mm;
  height: 296mm;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway',sans-serif;
}

@page {
  margin: 0;
}

.Upper {
  display: flex;
}

.InfoBox {
  width: 70mm;
  height: 180mm;
  background-color: #FA6900;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10mm 6mm;
}

.Avatar {
  width: 70%;
  border-radius: 50%;
  margin-bottom: 8mm; 
}

.InfoList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #FFF;
  width: 100%;
}

.InfoList li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2mm;
}

.InfoList i {
  margin-right: 6mm;
  color: #1f9a9f;
}

.ItemText {
  display: flex;
  flex-direction: column;
}

.MainBox {
  width: 140mm;
  height: 185mm;
  display: flex;
  flex-direction: column;
  color: #06074D;
  padding: 8mm 8mm 0 8mm;
}

.EdExpBox {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 4mm 0;
}

.DurationLocationRow {
  display: flex;
  margin: 2mm 0;
}

h1 {
  font-size: 38px;
  letter-spacing: 1mm;
  margin-bottom: 5mm;
}

.Title {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1mm;
  margin: 2mm 0;
}

.Duration {
  margin-right: 5mm;
}

.Date {
  width: 35mm;
  color:#1f9a9f;
  border: 1px solid #1f9a9f;
  text-align: center;
  padding: 1mm 1mm;
}

.Place {
  margin: 0;
  font-size: 13px;
}

.LanguagesBox {
  color: #06074D;
  padding-left: 10mm;
  font-size: 13px;
}

.SkillsBox {
  color: #06074D;
  padding-left: 10mm;
  padding-right: 10mm;
  font-size: 13px;
}

.LanguageList {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.ProgList {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.ProgList li {
  flex: 0 1 25%;
  padding-right: 5mm;
  padding-bottom: 5mm;
}