html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.Page {
  width: 210mm;
  height: 296mm;
  display: flex;
  font-family: 'Raleway',sans-serif;
}

@page {
  margin: 0;
}

.InfoBox {
  width: 70mm;
  height: 200mm;
  background-color: #FA6900;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10mm 6mm;
  font-weight: 700;
}

.Avatar {
  width: 70%;
  border-radius: 50%;
  margin-bottom: 8mm; 
}

.InfoList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #FFF;
  width: 100%;
}

.InfoList li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3mm;
}

.InfoList i {
  margin-right: 6mm;
  color: #1f9a9f;
}

.ItemText {
  display: flex;
  flex-direction: column;
}

.MainBox {
  width: 140mm;
  height: 200mm;
  display: flex;
  flex-direction: column;
  color: #06074D;
  padding: 10mm 10mm;
}

.EdExpBox {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 5mm 0;
}

.DurationLocationRow {
  display: flex;
  margin: 2mm 0;
}

h4 {
  letter-spacing: 1mm;
  margin-bottom: 10mm;
}

.TableTitle {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}

.Duration {
  margin-right: 5mm;
}

.Date {
  width: 32mm;
  color:#1f9a9f;
  border: 1px solid #1f9a9f;
  text-align: center;
  padding: 1mm 5mm;
}

.Location {
  width: 95mm;
}
